<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <servlet>
    <servlet-name>ProfileDriverServlet</servlet-name>
    <servlet-class>fr.carbuddyweb.servlet.ProfileDriverServlet</servlet-class>
    <init-param>
      <param-name>auteur</param-name> 
      <param-value>UNG.W</param-value> 
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileDriverServlet</servlet-name>
    <url-pattern>/ProfileDriver</url-pattern>
  </servlet-mapping>
</web-app>